@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    color: #04146c;
}
h2{
    font-size: 53px;
    font-weight: 900;
    color: #04146c;
}
.linea{
    border: 4px solid #04146c;
}
.boxIconos{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.boxIconos p{
    font-weight: 400;
    font-size: 30px;
}
.boxIconos div{
    width: auto;
    height: 70px;
    margin: 20px;
}
img{
    width: 90%;
    height: 90%;
}