@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0a2ff1;
}
.tituloGrande{
    font-family: 'Mulish', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #0a2ff1;
}
p{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #04146c;
}
#button{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a2ff1;
    color: white;
    border: none;
}