.container{
    display:flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.container input{
    height: 40px;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 5px;
}
#calcular{
    padding: 13px;
    background-color: brown;
    color: white;
}